body{
    margin: 0;
    padding: 0;
}

.Inicio {
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.Inicio p{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    float: left;
}


.Inicio .logo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.Inicio nav .logo1{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.Inicio nav .logo2{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}


.Categorias {
    width: 100%;
    height: 1000px;
    background-color: red;
}

.Categorias h1{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    
}

.Categorias div .imagenes{
    width: 100%;
    height: 100%;
    margin: auto;
}

section .prombanner{
    width: 100%;
    height: 100px;
    
}

footer{
    width: 100%;
    height: 100px;
    background-color: green;
}